body{
    height: 100%;
}
h1, h2{
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    font-family: Courier New, Courier, monospace;
    width: 180px;
    text-align: center;
    margin-top: 0px;
    box-shadow: 4px 4px 5px #888888;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    height: 250px;
    width: 350px;
    margin: 5px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.5);
}
.container{
    margin: auto;
    width: 300px;
    padding: 5px;
}
p{
    font-size: 30px;
    text-align: center;
}
div{
    text-align: center;
}
.input{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.submit{
    background-color: red;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    transition: all 2.5s;
    margin: 10px;
}
.submit:hover{
    cursor: pointer;
    transform: rotate(10deg);
}